In [ ]:
counter = 0
while True:
  counter += 1
  if counter == 5:
    break
  else:
     print(counter, end=" ")

1 2 3 4

In [ ]:
counter = 0
i = 1
while i < 21:
  counter += 1
  i += 1
  if counter == 5 and counter == 10:
    continue
  print(counter, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
i = 0
sum = 0
while i < 1001:
  if (i % 2 == 0 or i % 5 == 0) and i % 10 != 0 :
    sum += i
  i += 1
print(sum)

250000

In [ ]:
i = 0
sum = 0
while True:
  if (i % 2 == 0 or i % 5 == 0) and i % 10 != 0 :
    sum += i
  i += 1
  if i == 1001:
    break
print(sum)

250000

In [32]:
string = "abcde"
counter = 0
for char in string:
  counter = counter + 1
  print(char, end=" ")
print(counter)

a b c d e 5

In [38]:
l2 = [1, 2, 4, 5]

for num in l2:
  if num == 4:
    print("le chiffre  3 n'est pas présent dans la liste")
  print("le chiffre ", num, "est présent dans la liste")

le chiffre  1 est présent dans la liste
le chiffre  2 est présent dans la liste
le chiffre  3 n'est pas présent dans la liste
le chiffre  4 est présent dans la liste
le chiffre  5 est présent dans la liste

In [91]:
for n in range(1, 11):
  print("The multiplication table of", n, "\n")
  if n<= 5:
    for m in range(1, 11):
      print(m*n, end=" ")
    print("\n")
  else:
    for m in range(1, 6):
      print(m*n, end=" ")
  print("\n")

The multiplication table of 1

1 2 3 4 5 6 7 8 9 10



The multiplication table of 2

2 4 6 8 10 12 14 16 18 20



The multiplication table of 3

3 6 9 12 15 18 21 24 27 30



The multiplication table of 4

4 8 12 16 20 24 28 32 36 40



The multiplication table of 5

5 10 15 20 25 30 35 40 45 50



The multiplication table of 6

6 12 18 24 30

The multiplication table of 7

7 14 21 28 35

The multiplication table of 8

8 16 24 32 40

The multiplication table of 9

9 18 27 36 45

The multiplication table of 10

10 20 30 40 50