In [ ]:
number = 101
while number < 102:
    number-=1
    if number == -1:
      break
    print(number)
print("Décollage !")

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
Décollage !

In [ ]:
compte = 100
for loop in range(101):
   print(compte)
   compte = compte - 1
print("Décollage !")

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
Décollage !

In [28]:
for i in range(1, 13):
   i = 2**i
   print(i*1337)

2674
5348
10696
21392
42784
85568
171136
342272
684544
1369088
2738176
5476352

In [ ]:
nbCrapauds = 1337
for loop in range(12):
    nbCrapauds = nbCrapauds * 2
print(nbCrapauds)

5476352

In [ ]:
totalBonbons = 0
numTir = 1
for loop in range(50):
   totalBonbons = totalBonbons + numTir
   print(totalBonbons)
   numTir = numTir + 1

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275

In [ ]:
prixPommes = 32 * 90
prixPêches = 12 * 96
prixAubergines = 23 * 120
prixCarottes = 17 * 102
prixPatates = 22 * 85
print(prixPommes + prixPêches + prixAubergines + prixCarottes + prixPatates)

10396

In [ ]:
totalcubes = 0
for i in range(17, 0, -2):
   dernierscubes=i*i*i
   totalcubes = totalcubes + dernierscubes
print(totalcubes)

13041

In [ ]:
for i in range(1, 21):
    for j in range(1, 21):
      print(j*i, end=' ')
    print("\n")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60

4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96 102 108 114 120

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140

8 16 24 32 40 48 56 64 72 80 88 96 104 112 120 128 136 144 152 160

9 18 27 36 45 54 63 72 81 90 99 108 117 126 135 144 153 162 171 180

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200

11 22 33 44 55 66 77 88 99 110 121 132 143 154 165 176 187 198 209 220

12 24 36 48 60 72 84 96 108 120 132 144 156 168 180 192 204 216 228 240

13 26 39 52 65 78 91 104 117 130 143 156 169 182 195 208 221 234 247 260

14 28 42 56 70 84 98 112 126 140 154 168 182 196 210 224 238 252 266 280

15 30 45 60 75 90 105 120 135 150 165 180 195 210 225 240 255 270 285 300

16 32 48 64 80 96 112 128 144 160 176 192 208 224 240 256 272 288 304 320

17 34 51 68 85 102 119 136 153 170 187 204 221 238 255 272 289 306 323 340

18 36 54 72 90 108 126 144 162 180 198 216 234 252 270 288 306 324 342 360

19 38 57 76 95 114 133 152 171 190 209 228 247 266 285 304 323 342 361 380

20 40 60 80 100 120 140 160 180 200 220 240 260 280 300 320 340 360 380 400

In [ ]:
nbPersonnes = 3
nbJours = 4
prixSéjour = 0
prixJournée = 1
for loop in range(nbJours):
   prixSéjour = prixSéjour + prixJournée
   prixJournée = prixJournée + 2
prixSéjour = prixSéjour + 14
print("Prix par personne :", prixSéjour // nbPersonnes)

Prix par personne : 10

In [ ]:
longeur_cote = int(input("la longueur du côté d'un champ carré en mètres:"))
longeur_cote = (longeur_cote*longeur_cote)*23
print(longeur_cote)

la longueur du côté d'un champ carré en mètres:10
2300

In [ ]:
nombrejour = int(input())
nombrejour = nombrejour*16*60*60
print(nombrejour)

2
115200

In [ ]:
âgeCadet = int(input())
âgeAîné = int(input())
différence = âgeAîné - âgeCadet
print(différence)

10
13
3

In [ ]:
entrée = int(input())
for loop in range(entrée):
   print("Je dois suivre en cours")

5
Je dois suivre en cours
Je dois suivre en cours
Je dois suivre en cours
Je dois suivre en cours
Je dois suivre en cours

In [ ]:
tempsMin = int(input())
tempsMax = int(input())

for loop in range (tempsMin, tempsMax+1):
   print(loop)

9
14
9
10
11
12
13
14

In [ ]:
nbNombres = int(input())
factorial = 1
for i in range(1, nbNombres+1):
   factorial *=i
   print(factorial*66)

3
66
132
396

In [ ]:
positionDepart = int(input())
largeurEmplacement = int(input())
nbVendeurs = int(input())
compte = 0
for loop in range(nbVendeurs+1):
   résultat = positionDepart + largeurEmplacement*compte
   compte +=1
   print(résultat)

10
5
3
10
15
20
25

In [ ]:
positionDépart = int(input())
largeurEmplacement = int(input())
nbVendeurs = int(input())
position = positionDépart
for iVendeur in range(nbVendeurs + 1):
   print(position)
   position = position + largeurEmplacement

10
5
3
10
15
20
25

In [2]:
totalKarvas = 0
for loop in range(20):
   nbBêtes = int(input())
   totalKarvas = totalKarvas + nbBêtes
print(totalKarvas)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
20

In [33]:
longueur = int(input())
largeur = int(input())
périmètre = (longueur + largeur) * 2
aire = longueur * largeur
print(périmètre, end = " ")
print(aire)

7
3
20 21

In [52]:
nbKarvas = int(input())
if nbKarvas > 1:
   for loop in range(nbKarvas):
      poid = int(input())
      age = int(input())
      longeur = int(input())
      hauteur = int(input())
      print(longeur*hauteur + poid)
elif nbKarvas == 1:
      poid = int(input())
      age = int(input())
      longeur = int(input())
      hauteur = int(input())
      print(longeur*hauteur + poid)

1
9
4
5
6
39

In [ ]:
nbKarvas = int(input())
for loop in range(nbKarvas):
   poids = int(input())
   âge = int(input())
   longueurCornes = int(input())
   hauteurAuGarrot = int(input())
   print(longueurCornes * hauteurAuGarrot + poids)

In [58]:
pEtage = int(input())
dEtage = int(input())

volumeTotal = 0
for i in range(dEtage, pEtage+1, 1):
    résultat = i*i 
    volumeTotal += résultat
print(volumeTotal)

7
3
135