<a href="https://colab.research.google.com/github/yunuserbas/Python_Exercises/blob/main/15_WCS_Lists_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Preliminary note:** sometimes, the challenge tells you to do something that is incompatible with some input (for instance, you ask for a position but the user enters some text, or an invalid number).

Here you can assume that all user input goes according to plan (the "happy path"). If you want an extra **optional** challenge, feel free to manage possible error cases!

# Mission 1

Define a list, then display only the elements (and their position) that have even positions (0, 2, 4, 6...).

With `test_list = ["a", "b", "c", "d", "e"]`, the script should display: 
```
a at position 0
c at position 2
e at position 4
```

In [1]:
test_list = ["a", "b", "c", "d", "e"]

# Your code here

for i in range (0, len(test_list), 2):
  result = test_list[i]
  print(test_list[i], " at position", i)

a  at position 0
c  at position 2
e  at position 4

# Mission 2

Define a list, then **ask** for a position, then for a string. Then replace the list element at that position by the given string, and display the resulting list.

For example, with the list `test_list2 = ['hello', 'good morning', 'bye bye', 'have a good day']`, the position `2` and the string `yeah`, you should display:
```
['hello', 'good morning', 'yeah', 'have a good day']
```

In [2]:
test_list2 = ['hello', 'good morning', 'bye bye', 'have a good day']
position = int(input())
string = str(input())

test_list2[position] = string
print(test_list2)

2
YEAH
['hello', 'good morning', 'YEAH', 'have a good day']

# Mission 3

Define a list with five numbers, then ask the user for a number. Put the number at the end of the list, remove the first element from the list, and finally display the list.

For example, with the list `test_list3 = [1, 9, 6, 15, 4]` and the input `7`, you should display:
```
[9, 6, 15, 4, 7]
```

In [3]:
test_list3 = [1, 9, 6, 15, 4]

number = str(input())

test_list3.append(number)
test_list3.pop(0)

print(test_list3)

7
[9, 6, 15, 4, '7']

# Mission 4

Define a list, then ask the user for a string. Then, insert the string in the list at a random position, and display the resulting list.

For example, with the list `test_list4 = ["p", "y", "t", "h", "o"]` and the input `n`, you *might* get:
```
["p", "n", "y", "t", "h", "o"]
```
... but you might also get:
```
["p", "y", "t", "n", "h", "o"]
```

In [5]:
import random

test_list4 = ["p", "y", "t", "h", "o"]

string = str(input())

test_list4.insert(random. randrange(len(test_list4)), string)
print(test_list4)

n
['p', 'y', 't', 'n', 'h', 'o']

# Mission 5

Create a list of integers. Then, display a list with the elements ordered from smallest to largest, using the right built-in function.

With the list `test_list5 = [3, 4, 0, -1, 35, 7]`, this will display:
```
[-1, 0, 3, 4, 7, 35]
```

In [6]:
test_list5 = [3, 4, 0, -1, 35, 7]

test_list5.sort()
print(test_list5)

[-1, 0, 3, 4, 7, 35]

# Mission 6

Ask the user for a string, convert it to a list of characters with the `list` function, then ask for a single character.

Remove the first occurrence of the character from the list, then display how many occurrences of the character remain in the list.

For instance if you enter `"Excellent work"` then the letter `"e"`, it will display:
```
There are still 2 copies of e in the list
```

In [7]:
string = str(input())

List_of_Characters = list(string.strip())
List_of_Characters1 = [n.lower() for n in List_of_Characters]


print(List_of_Characters1)

character = str(input())

List_of_Characters1.remove(character)

if character in List_of_Characters1:
  char = 0
  for i in List_of_Characters1:
    if i == character:
      char +=1
  print("There are still ", char, " copies of ", character, " in the list")
else:
  print("There is no ", character, " in the list")

Excellent Work
['e', 'x', 'c', 'e', 'l', 'l', 'e', 'n', 't', ' ', 'w', 'o', 'r', 'k']
e
There are still  2  copies of  e  in the list

# Mission 7

Define three lists containing no duplicates. Then, indicate (however you like) the two that have the most elements in common (or all three if there's a tie).

For instance, with:
```
list_a = [1, 2, 4, 8, 16, 32]
list_b = [1, 2, 3, 5, 8, 13]
list_c = [2, 3, 5, 7, 11, 13]
```
It may display:
```
Lists B and C have the most common elements!
```

In [8]:
list_a = [1, 2, 4, 8, 16, 32]
list_b = [1, 2, 3, 5, 8, 13]
list_c = [2, 3, 5, 7, 11, 13]

compte = 0
compte1 = 0
compte2 = 0
for i in range(0, 6):
  if list_a[i] in list_b:
    compte +=1 
  if list_a[i] in list_c:
    compte1 +=1
  if list_b[i] in list_c:
    compte2 +=1

if compte > (compte1 and compte2):
  print("Lists A and B have the most common elements!")
if compte1 > (compte and compte2):
  print("Lists A and C have the most common elements!")
if compte2 > (compte1 and compte):
  print("Lists B and C have the most common elements!")

Lists B and C have the most common elements!