<a href="https://colab.research.google.com/github/yunuserbas/Python_Exercises/blob/main/17_WCS_Tuples_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

In [1]:
tuple1 = (1, 2, 3, "France", "Germany", "UK", ["Paris", "Lyon", "Bordeaux"], ["Berlin", "D端sseldorf", "Cologne"], {"France": "Paris"}, {"Germany": "Berlin"})

Now, access the second-to-last item in the second list.

In [2]:
print((tuple1[7])[1])

D端sseldorf

# Mission 2

In the same tuple, access the last 4 elements using slicing.

In [3]:
print(tuple1[-5:-1])

('UK', ['Paris', 'Lyon', 'Bordeaux'], ['Berlin', 'D端sseldorf', 'Cologne'], {'France': 'Paris'})

# Mission 3

Change the value of the 4th element (the first string) of your tuple (since tuples are immutable, this means recreating a tuple where this element is changed).

In [4]:
y = list(tuple1)
y[3] = "Italy"
tuple1 = tuple(y)

print(tuple1)

(1, 2, 3, 'Italy', 'Germany', 'UK', ['Paris', 'Lyon', 'Bordeaux'], ['Berlin', 'D端sseldorf', 'Cologne'], {'France': 'Paris'}, {'Germany': 'Berlin'})

# Mission 4

Create 2 tuples of the same length that contain only integers.

Then create a script that compares the sum of their elements and displays the tuple that has the highet total.

In [5]:
tuple2 = (2, 4, 1, 9, 5, 10, 90, 14, 6, 8)
tuple3 = (55, 30, 4, 12, 3, 5, 1, 9, 11, 2)

res1 = sum(list(tuple2))
res2 = sum(list(tuple3))

if res1 > res2:
  print("The sum of tuple2 is ", res1 ,"and tuple2 has higher total than tuple3.")
else:
  print("The sum of tuple2 is ", res2 ,"and tuple3 has higher total than tuple2.")

The sum of tuple2 is  149 and tuple2 has higher total than tuple3.

# Mission 5

Here's a tuple:

`my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")`

Ask the user for a string, then for an integer position. Create an altered copy of `my_tuple` where the element at the given position is now the given string.

In [6]:
my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

string = str(input("Enter a string: "))
integer = int(input("Enter an integer position: "))

x = list(my_tuple)
x.insert(integer, string)

my_tuple = tuple(x)
print(my_tuple)

Enter a string: web developper
Enter an integer position: 1
('data analyst', 'web developper', 'data scientist', 'data engineer', 'data architect')