# Mission 1

![](https://i.imgur.com/Ax3pp2A.png)


Create a "fruit" dataframe that reflects the above example **using a list** data structure

[This resource could help you](https://datatofish.com/list-to-dataframe/).

In [ ]:
# Using zip() for zipping two lists.

import pandas as pd

Apples = [30]
Bananas = [21]

fruit = pd.DataFrame(list(zip(Apples, Bananas)),
               columns =['Apples', 'Bananas'])
fruit

   Apples  Bananas
0      30       21

# Mission 2

Create a "fruit_vendors" dataframe that reflects the below example **using a dictionary** data structure

![](https://i.imgur.com/CHPn7ZF.png)

[This resource could help you.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_dict.html)

In [ ]:
fruit_vendors = pd.DataFrame([[35, 21], [41, 34]], index=['2017 Sales', '2018 Sales'], columns=['Apples', 'Bananas'])

fruit_vendors

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

# Mission 3

Use a loop to display the values from each column in the dataframe from mission 2.

In [ ]:
# iterate through each row and select
# 'Apples' and 'Bananas' column respectively.

for ind in fruit_vendors.index:
    print(fruit_vendors['Apples'][ind], fruit_vendors['Bananas'][ind])

35 21
41 34

# Mission 4

Delete the first row of the dataframe from mission 2

[This resource could help you.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [ ]:
fruit_vendors.drop('2017 Sales')

            Apples  Bananas
2018 Sales      41       34

# Mission 5

Delete the first column from the dataframe from mission 2.

In [ ]:
fruit_vendors.drop(columns=['Apples'])

            Bananas
2017 Sales       21
2018 Sales       34